.navigation {
    background-color: #edb039;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: 600;
    color: #000;
}

.search-cart-fav-account {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%; 
    justify-content: space-between;
}

.brand-name {
    font-size: 30px;
    font-family: Inter, sans-serif;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-input {
    width: 50vw;
    border-radius: 10px;
    padding: 7px 15px;
    margin-left: 10%;
}


.search-button {
    background-color: #fff;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.icon-group {
    display: flex;
    gap: 20px; 
}

.fas{ 
    font-size: 25px;
}
.icon-button {
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.icon-label {
    font-size: 16px;
}

.search__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.search-results {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

li div {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
